<!-- Primary Meta Tags -->
<title>wolfjay | {{ page.title | escape }}</title>
<meta name="title" content="wolfjay | {{ page.title | escape }}">
<meta name="description" content="🏳️‍🌈 articles and blogs and shit from non-binary naarm/melbourne based artist wolfjay. ">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="blog">
<meta property="og:url" content="{{ page.url | relative_url }}">
<meta property="og:title" content="{{ page.title | escape }}">
<meta property="og:description" content="{{ post.excerpt }}">
<meta property="og:image" content="https://blog.wolfjay.com/assets/images/blog-le-wolfjay-social-preview.jpg">
<!-- <meta property="og:image" content=" {{ page.thumbnail }}"> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ page.url | relative_url }}">
<meta property="twitter:title" content="{{ page.title | escape }}">
<meta property="twitter:description" content="🏳️‍🌈 articles and blogs and shit from non-binary naarm/melbourne based queer indie artist wolfjay :-)">
<meta property="twitter:image" content="https://blog.wolfjay.com/assets/images/blog-le-wolfjay-social-preview.jpg">