@charset "utf-8";

// Define defaults for each variable.

$base-font-family: radio, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.975 !default;
$base-line-height: 1.3 !default;

$spacing-unit:     56px !default;

$heading-color:    #212442 !default;
$text-color:       #212442 !default;
$background-color: #F0EDE4 !default; 
$brand-color:      #DD75C0 !default;
$secondary-color:  #EDA335 !default;
$third-color:      #49D3B2 !default;

$black-color:      #212442 !default;
$grey-color:       #433F29 !default;
$grey-color-light: lighten($background-color, 20%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    680px !default;
$on-palm:          600px !default;
$on-laptop:        680px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  // "minima/layout",
  "minima/syntax-highlighting"
;

@font-face {
  font-family: 'radio';
  src: url('fonts/radio.woff2') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'radio';
  src: url('fonts/radio.woff2') format('truetype');
  // font-variation-settings: "ital" 900;
  font-style: italic;
}