---
layout: default
---

<div class="home">

  {{ content }}
  
<section class="post-card-list">

  {%- for post in site.posts -%}

    <a href="{{ post.url | relative_url }}">

      <div class="post-card" style="background-color:{{ post.color }}"">
        <div class="post-card-header">
          <div class="post-card-header-text">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h2>{{ post.title }}</h2>
          </div>
          <div class="post-card-header-emoji">{{ post.emoji }}</div>
        </div>
        <div class="post-card-body">
          <p>{{ post.subtitle }}</p>
        </div>
      </div>

    </a>

  {%- endfor -%}

</section>